<html>
    <style>
        body{
            background-color: rgb(148, 148, 250);
            margin: 0;
            padding: 0;
        }
        .login{
            text-align: center;
            padding: 20px;
            margin: 20px;
            width: 400px;
        }

        h2,button,input{
            margin: 8px;
            color: grey;
        }


    </style>
    <body>
        
        <div class="login">

            <h1 style="color: rgb(180, 81, 81);"> FOREST prediction</h1>

            <!-- Main input for reciving quary to our ML -->
            <form action="{{url_for('predict_datapoint')}}" method="post">
                <input type="text" name="Temperature" placeholder="Temperature" required="Temperature" /><br>
                <input type="text" name="RH" placeholder="RH" required="RH" /><br>
                <input type="text" name="Ws" placeholder="Ws" required="Ws" /><br>
                <input type="text" name="Rain" placeholder="Rain" required="Rain" /><br>
                <input type="text" name="FFMC" placeholder="FFMC" required="FFMC" /><br>
                <input type="text" name="DMC" placeholder="DMC" required="DMC" /><br>
                <input type="text" name="ISI" placeholder="ISI" required="ISI" /><br>
                <input type="text" name="Classes" placeholder="Classes" required="Classes" /><br>
                <input type="text" name="Region" placeholder="Region" required="Region" /><br>

                <button type = "submit" class="btn btn-primary btn-block btn-large">predict</button>
            </form>
            <h2> the FWI prediction is {{result}}</h2>
        </div>
        
    </body>
</html>